.container {
	position: relative;
	max-height: 125px;
	background-color: var(--white);
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.textContainer {
	padding: 2rem;
	flex: 2;
}

.infoContainer span,
.infoContainer svg {
	color: var(--navColor);
	font-size: 0.9rem;
}

.title,
.titleTranslation {
	cursor: pointer;
	margin-bottom: 0.25rem;
	font-weight: 400;
}

.title {
	font-size: 1.25rem;
	color: var(--primaryBtnColor);
}

.titleTranslation {
	font-size: 1rem;
	color: var(--navColor);
}

.img {
	cursor: pointer;
	background-size: cover;
	background-position: center;
	min-width: 125px;
	min-height: 125px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.icon {
	padding-right: 2rem;
	color: var(--primaryBtnColor);
}

.level {
	position: absolute;
	color: var(--white);
	top: 0;
	left: 0;
	padding: 0 0.3rem;
	font-size: 0.8rem;
	font-weight: 700;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

@media (max-width: 1023px) {
	.container {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 2rem;
	}
}

@media (max-width: 767px) {
	.container {
		width: 90%;
	}
}

@media (max-width: 479px) {
	.container {
		width: 95%;
	}

	.textContainer {
		padding: 1rem;
	}

	.icon {
		padding-right: 1rem;
	}
}
