.container {
	max-height: 125px;
	background-color: var(--white);
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.textContainer {
	padding: 2rem;
	flex: 2;
}

.infoContainer span,
.infoContainer svg {
	color: var(--navColor);
	font-size: 0.9rem;
}

.title {
	line-height: 1.5rem;
	margin: 0;
	margin-bottom: 0.25rem;
	font-size: 1.25rem;
	font-weight: 400;
	color: var(--primaryBtnColor);
}

.img {
	background-size: cover;
	background-position: center;
	min-width: 125px;
	min-height: 125px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.icon {
	padding-right: 2rem;
	color: var(--primaryBtnColor);
}

@media (max-width: 1023px) {
	.container {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 2rem;
	}
}

@media (max-width: 767px) {
	.container {
		width: 90%;
	}
}

@media (max-width: 479px) {
	.container {
		width: 95%;
	}

	.textContainer {
		padding: 1rem;
	}

	.icon {
		padding-right: 1rem;
	}
}
