.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 0 2rem;
	max-width: 1200px;
	margin: 5rem auto;
	gap: 2rem 7rem;
	justify-content: space-between;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

@media (max-width: 1023px) {
	.container {
		display: block;
	}
}
@media (max-width: 479px) {
	.container {
		padding: 0;
	}
}
