.container {
	width: 80%;
	margin: 0 auto;
	margin-top: 5rem;
}

.materialsContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4rem;
	margin: 3rem 0;
}

.materials img {
	border-radius: 3px;
	min-width: 155px;
	cursor: pointer;
}

.materials p {
	color: var(--navColor);
	color: var(--secondaryTextColor);
}

.materialsTitle {
	cursor: pointer;
	font-size: 1.35rem;
	margin: 1rem 0;
	font-weight: 500;
	color: var(--primaryBtnColor);
}

.materialsTitle:first-letter {
	text-transform: capitalize;
}

.container h3 {
	text-transform: capitalize;
	color: var(--primaryBtnColor);
	font-size: 1.75rem;
	font-weight: 600;
}

@media (max-width: 767px) {
	.materialsContainer {
		display: block;
		text-align: center;
	}

	.materials {
		margin-bottom: 5rem;
	}
}

@media (max-width: 1023px) {
	.materialsContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 1199px) {
	.container {
		width: 90%;
	}
}
