.wordsContainer {
	color: var(--secondaryTextColor);
	font-weight: bold;
	font-size: 15px;
}

.wordsContainer h4 {
	font-size: 1.25rem;
	margin: 0;
	padding: 0;
}

.wordsContainer ul {
	margin-top: 2rem;
}

.wordsContainer li {
	margin-top: 0.8rem;
}

.wordsContainer svg {
	color: #337ab7;
}
