.container {
	min-height: 75vh;
}

.table {
	width: 60%;
	margin: 0 auto;
	margin: 10rem auto;
}

.rowWords {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgb(224, 224, 224);
}

.tableCheckWord {
	width: 5%;
}

.rowWords > div {
	padding: 1rem 0;
}

.tableWords {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.tableOriginalWord {
	font-weight: 600;
	color: #2582e7;
}

.tableTranslatedWord {
	color: var(--secondaryTextColor);
}

.tableWordSentence {
	width: 50%;
	font-size: 0.9rem;
}

.tableIcon {
	width: 5%;
	text-align: right;
	color: var(--secondaryTextColor);
	cursor: pointer;
}

.tableIcon :hover {
	color: var(--primaryTextColor);
}

.nowordsText {
	text-align: center;
	font-weight: 500;
	color: var(--secondaryTextColor);
}

.flashcardsBtn {
	cursor: pointer;
	background-color: var(--navColor);
	color: var(--white);
	display: block;
	margin: 2rem auto;
	border: none;
	padding: 0.75rem;
}

.flashcardsBtn:hover {
	box-shadow: 0px 2px 3px var(--primaryBtnColor),
		0px 2px 3px var(--primaryBtnColor);
	transition: 0.3s;
}

@media (width > 767px) and (width < 1024px) {
	.table {
		width: 80%;
	}
}

@media (width < 768px) {
	.table {
		width: 90%;
		margin: 4rem auto;
	}

	.container {
		min-height: 50vh;
	}
}
