.container {
	min-height: 75vh;
}

.table {
	width: 60%;
	margin: 0 auto;
	margin: 5rem auto;
}

.rowWords {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgb(224, 224, 224);
}

.tableCheckWord {
	width: 5%;
}

.rowWords > div {
	padding: 1rem 0;
}

.tableWords {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.tableOriginalWord {
	font-weight: 600;
	color: #2582e7;
}

.tableTranslatedWord {
	color: var(--secondaryTextColor);
}

.tableWordSentence {
	width: 50%;
	font-size: 0.9rem;
}

.tableIcon {
	width: 5%;
	text-align: right;
	color: var(--secondaryTextColor);
	cursor: pointer;
}

.tableIcon :hover {
	color: var(--primaryTextColor);
}

@media (max-width: 767px) {
	.table {
		width: 95%;
	}

	.tableCheckWord {
		width: 10%;
	}
}

@media (max-width: 1023px) {
	.table {
		width: 80%;
	}
}
