.container {
	display: flex;
	flex-wrap: wrap;
	height: 10rem;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	padding: 0 5rem;
}

.socialsContainer {
	flex: 1;
}

.iconsContainer {
	display: flex;
	gap: 1rem;
}

.copyrightContainer {
	flex: 1;
}

.linksContainer {
	display: flex;
	gap: 1rem;
	flex: 1;
}
