.container {
	display: flex;
	width: 80%;
	margin: 0 auto;
	padding: 3rem 0;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.iconsContainer {
	display: flex;
	gap: 1rem;
}

.linksContainer {
	display: flex;
	gap: 1rem;
}

.linksContainer ul {
	list-style-type: disc;
}

.linksContainer li {
	text-decoration: underline;
}

.linksContainer li:hover {
	color: var(--thirdColor);
}

@media (max-width: 1023px) {
	.container {
		flex-direction: column;
	}

	.linksContainer ul {
		display: flex;
		gap: 2rem;
		list-style-type: none;
	}
}
