.container {
	width: 70%;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	padding: 8rem 0;
}

.textContainer {
	width: 75%;
}

.title {
	font-size: 3rem;
	font-weight: 600;
	line-height: 3.5rem;
	margin-bottom: 1.75rem;
	color: var(--primaryBtnColor);
}

.subtitle {
	font-size: 1.25rem;
	line-height: 2rem;
	font-weight: 500;
	color: var(--navColor);
}

.imgContainer {
	align-self: end;
}

.img {
	transform: scaleX(-1);
}

.btn {
	display: block;
	padding: 1rem 1.75rem;
	margin: 0 auto;
	margin-top: 3rem;
}

.btn:hover {
	box-shadow: 0px 2px 3px var(--primaryBtnColor),
		0px 2px 3px var(--primaryBtnColor);
	transition: 0.3s;
}

.wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.wave svg {
	position: relative;
	display: block;
	width: calc(125% + 1.3px);
	height: 100px;
}

.wave .shapeFill {
	fill: #f2f2f2;
}

@media (max-width: 767px) {
	.container {
		padding-top: 2rem;
		padding-bottom: 6rem;
	}

	.title {
		font-size: 2rem;
		line-height: 2.5rem;
	}
}

@media (max-width: 1023px) {
	.container {
		width: 90%;
		text-align: center;
	}
	.textContainer {
		width: 100%;
	}

	.imgContainer {
		display: none;
	}
}
