.container {
	width: 100%;
	margin: 6rem auto;
	text-align: center;
}

.ressourceContainer {
	width: 70%;
	margin: auto;
	display: flex;
	margin-top: 4rem;
	margin-bottom: 8rem;
	justify-content: space-between;
}

.ressourceItem {
	width: 28%;
}

.ressourceItem h4 {
	margin-top: 1.5rem;
}

.ressourceItem p,
.ctaContainer p {
	color: var(--navColor);
}

.ctaContainer {
	width: 70%;
	display: flex;
	margin: auto;
	padding-top: 4rem;
	padding-bottom: 4rem;
	justify-content: space-around;
	align-items: center;
}

.ctaContainerWhite {
	width: 80%;
	margin: 0 auto;
	border-radius: 3px;
	background-color: #fff;
	margin-bottom: 2rem;
}

.ctaContainer h3 {
	line-height: 2.5rem;
}

.ctaContainerText {
	width: 50%;
}

.ctaContainer button:hover {
	box-shadow: 0px 2px 4px var(--primaryBtnColor),
		0px 2px 4px var(--primaryBtnColor);
	transition: 0.3s;
}

@media (max-width: 519px) {
	.ressourceItem {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.container > h3 {
		display: none;
	}

	.ressourceContainer {
		flex-direction: column;
		margin-bottom: 2rem;
	}

	.ressourceItem {
		width: 80%;
		margin: 1rem auto;
	}

	.ctaContainer {
		justify-content: center;
	}

	.ctaContainerText {
		width: 80%;
	}

	.imgContainer {
		display: none;
	}
}

@media (max-width: 1023px) {
	.container {
		width: 90%;
	}

	.ctaContainer {
		width: 100%;
	}
}
