.wrapper {
	display: flex;
	height: calc(100vh - 232px);
	justify-content: center;
	align-items: center;
	background-color: var(--darkWhite);
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 700px;
	height: 500px;
	background-color: var(--white);
}

.formContainer {
	text-align: center;
	width: 300px;
}

.formContainer input {
	width: 100%;
	border: none;
	background-color: var(--backgroundColor);
	height: 40px;
	margin-bottom: 0.5rem;
	padding: 1rem;
	border-radius: 3px;
	font-size: 0.9rem;
	font-weight: 500;
}

.formContainer h2 {
	margin-bottom: 2.5rem;
	font-size: 1.75rem;
}

.formContainer p {
	margin-top: 1rem;
	font-size: 0.85rem;
	line-height: 1.2rem;
}

.formContainer a {
	color: var(--thirdColor);
	text-decoration: underline;
}

.btn {
	margin-top: 1rem;
	padding: 0.75rem 1rem;
	width: 100%;
}

.resetText {
	font-weight: 500;
	text-align: left;
	color: var(--navColor);
}

.resetBtn {
	cursor: pointer;
	margin-top: 0.5rem;
	display: block;
	border: none;
	background-color: inherit;
	font-size: 0.85rem;
	color: var(--navColor);
	text-decoration: underline;
	text-align: left;
}

.error {
	font-size: 0.85rem;
	color: red;
}

@media (width < 768px) {
	.container {
		width: 100%;
	}

	.img {
		display: none;
	}
}
