.container {
	width: 80%;
	margin: 0 auto;
	margin-top: 5rem;
}

.materialContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4rem;
	margin: 3rem 0;
	color: var(--thirdTextColor);
}

.material img {
	border-radius: 3px;
}

.materialTitle {
	font-size: 1.35rem;
	margin: 1rem 0;
	font-weight: 500;
	color: var(--secondColor);
}

.materialTitle:first-letter {
	text-transform: capitalize;
}

.container h3 {
	text-transform: capitalize;
	color: var(--thirdColor);
	font-size: 1.75rem;
	font-weight: 600;
}
