.container {
	background-color: var(--firstColor);
	display: flex;
	position: sticky;
	top: 0;
	justify-content: space-between;
	align-items: center;
	height: 64px;
	color: #fff;
	padding: 0 5rem;
	z-index: 1;
}

.menuContainer {
	display: flex;
	gap: 1.5rem;
	font-weight: 500;
	font-size: 1.1rem;
}

.btnContainer {
	display: flex;
	gap: 1rem;
}

.loginBtn {
	border: solid 2px var(--secondColor);
	background-color: var(--firstBtnColor);
}

.registerBtn {
	background-color: var(--secondColor);
}

.btn {
	padding: 0.65rem 1.5rem;
	color: #fff;
	font-weight: 500;
	border-radius: 3px;
}
