.nav {
	position: relative;
	position: sticky;
	top: 0;
	background-color: var(--navColor);
	height: 64px;
	color: #fff;
	z-index: 2;
}

.container {
	width: 100%;
	padding: 0 5rem;
	margin: 0 auto;
	display: flex;
	position: relative;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	z-index: 1;
}

.menuContainer {
	display: flex;
	font-size: 1.05rem;
}

.menuContainer li {
	padding: 0.5rem 0.75rem;
	border-radius: 3px;
	cursor: pointer;
}

.menuContainer li:hover {
	background-color: var(--primaryBtnColor);
}

.btnContainer {
	display: flex;
	gap: 1rem;
}

.loginBtn {
	border: solid 2px var(--primaryBtnColor);
	background-color: transparent;
}

.registerBtn:hover {
	box-shadow: 0px 2px 3px var(--primaryBtnColor),
		0px 2px 3px var(--primaryBtnColor);
	transition: 0.3s;
}

.btn {
	padding: 0.65rem 1.5rem;
	color: #fff;
	font-weight: 500;
	border-radius: 3px;
}

.mobileIconOpen {
	visibility: hidden;
	/* display: none; */
	cursor: pointer;
	position: absolute;
	top: 1.25rem;
	right: 3rem;
	/* width: 50px; */
}
.mobileIconClose {
	visibility: hidden;
	/* display: none; */
	/* width: 50px; */
	cursor: pointer;
	position: absolute;
	top: 3rem;
	right: 3rem;
}

@media (max-width: 767px) {
	.container {
		display: none;
	}
	.container.show {
		display: flex;
		width: 100%;
		height: 100vh;
		background-color: var(--navColor);
		flex-direction: column;
		justify-content: center;
		color: #fff;
		padding: 0 5rem;
		z-index: 1;
	}

	.menuContainer {
		flex-direction: column;
		text-align: center;
		margin-bottom: 2rem;
	}

	.mobileIconOpen,
	.mobileIconClose {
		visibility: visible;
	}
}
