.container {
	margin: 3rem 0;
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.container button {
	border: none;
	cursor: pointer;
	font-weight: 600;
	color: var(--navColor);
}

.pageBtnActive {
	background-color: var(--navColor);
	padding: 0.25rem 0.5rem;
	border-radius: 3px;
	color: var(--white) !important;
}
