/* .wrapper {
	display: flex;
	flex-direction: column;
} */

.userNameContainer {
	/* margin-top: 15rem; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 0.5rem 0.75rem;
	border-radius: 3px;
}

.userNameContainer:hover {
	background-color: var(--primaryBtnColor);
}

.userNameText {
	margin-left: 0.5rem;
}

.userMenucontainer {
	background-color: var(--navColor);
	position: absolute;
	top: 56px;
	right: 0px;
	width: 200px;
	padding: 1rem;
	border-bottom-left-radius: 3px;
	color: var(--white);
}

.userMenucontainer li {
	margin-bottom: 0.5rem;
	padding: 0.5rem 0.75rem;
	border-radius: 3px;
	cursor: pointer;
}

.userMenucontainer li:hover {
	background-color: var(--primaryBtnColor);
}

.userMenucontainer span {
	margin-left: 0.5rem;
}

.userMenucontainer button {
	border: none;
}
