.wrapper {
	position: relative;
}

.userNameContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	background-color: var(--primaryBtnColor);
	padding: 0.75rem 1rem;
	border-radius: 3px;
}

.userNameText {
	margin-left: 0.5rem;
}

.userName:hover {
}

.userMenucontainer {
	background-color: var(--white);
	box-shadow: 0px 2px 3px #ccc, 0px 2px 3px #ccc;
	position: absolute;
	/* margin-top: 10rem; */
	top: 75px;
	right: -50px;
	width: 200px;
	padding: 1rem;
	border-radius: 3px;
	color: var(--primaryTextColor);
}

.userMenucontainer li {
	margin-bottom: 0.5rem;
	padding: 0.5rem 0.75rem;
	border-radius: 3px;
	cursor: pointer;
}

.userMenucontainer li:hover {
	background-color: var(--backgroundColor);
}

.userMenucontainer span {
	margin-left: 0.5rem;
}

.userMenucontainer button {
	border: none;
}
